Repository gluster/glusto-tests, pull requests merged in 2021-03, with the labels that each got.

#43 [Test] Verify gfid self heal
  tests/functional/arbiter/test_verify_metadata_and_data_heal.py
Labels: Test

#44 [Test] Add test for performance.client-io-threads with afr volumes
  tests/functional/afr/test_client_io_threads_on_replicated_volumes.py
Labels: Test

#49 [Test] Add test to compile linux kernel with self-heal
  tests/functional/tier4/__init__.py
  tests/functional/tier4/test_compile_linux_kernel_with_self_heal.py
Labels: Test

#50 [Test] Add rep and distrep to test_data_self_heal_algorithm_diff_default
  tests/functional/arbiter/test_data_self_heal_algorithm_diff_default.py
Labels: Test

#52 [Testfix] Fix tier1 test case failures
  tests/functional/afr/heal/test_self_heal_with_link_files.py
  tests/functional/dht/test_brick_full_add_brick_rebalance.py
  tests/functional/dht/test_rebalance_add_brick_command.py
  tests/functional/snapshot/test_snapshot_restore.py
Labels: Testfix

#45 [Test]: Add tc to check friend updates when a node rejoins
  tests/functional/glusterd/test_glusterd_friend_updates_on_node_rejoin.py
Labels: Test

#46 [Test]: Add tc to check statedump when server,client quorum set on volume
  tests/functional/glusterd/test_glusterd_statedump_with_server_and_client_quorum_set.py
Labels: Test

#54 [Testfix] Adding check for node-down.
  tests/functional/glusterfind/test_glusterfind_when_node_down.py
Labels: Testfix

#55 [Testfix] Additional fixes for tier1 cases
  tests/functional/dht/test_brick_full_add_brick_rebalance.py
  tests/functional/disperse/test_ec_io_hang_serverside_heal.py
Labels: Testfix

#53 [Test] Seen multiple brick Process while starting volume node Reboot
  tests/functional/glusterd/test_brickmux_brick_process.py
Labels: Test

#60 [TestFix] Remove trigger_heal and change to tearDown in arbiter cases
  tests/functional/arbiter/test_metadata_self_heal.py
  tests/functional/arbiter/test_split_brain.py
Labels: Testfix

#58 [Test]: Add tc to check gluster operations after removing firewall
  glustolibs-gluster/glustolibs/gluster/lib_utils.py
  tests/functional/glusterd/test_gluster_operations_after_removing_firewall.py
Labels: Libfix, Test

#51 [Test] Add test to validate rebalance with locks on files
  tests/functional/dht/test_verify_rebalance_with_locks_on_files.py
Labels: Test

#59 [Test] Glusterd start-stop consistent info
  tests/functional/glusterd/test_glusterd_start_stop_output.py
Labels: Test

#62 [Test]Add Check ctime update when m|atime changed
  tests/functional/ctime_feature/test_ctime_updated_if_mtime_is_updated.py
Labels: Test
